# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
dist-ssr/

# Environment files
.env
.env.local
.env.*.local

# Editor & OS files
.DS_Store
Thumbs.db
*.local
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
